{% extends 'orders/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Order</legend>
                {{ form|crispy }}
                {{ formset.management_form }}
                {% for f in formset %}
                    {{ f|crispy }}
                {% endfor %}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Send</button>
            </div>
        </form>
        {% for cc in cur_var %}
        <p>{{ cc|crispy }}</p>
        {% endfor %}
        {% for variant in ham_variants %}
        <p><a href="{% url 'orders-create-get' variant.id %}">{{ variant.name }} {{ variant.price }}</a></p>
        {% endfor %}
    </div>
{% endblock content %}